<div class="container">
  <h3>メモの新規作成</h3>
  <%= form_tag("/create") do %>
    <div class="form-group">
      <%=label_tag"form-title", "タイトル" %>
      <%= text_field :memos, :title, id:"form-title", class:"form-control" ,placeholder:"タイトル"%>
    </div>
    <div class="form-group">
      <%=label_tag"form-content", "本文" %>
      <%= text_field :memos, :body, id:"form-content", class:"form-control",placeholder:"本文"%>
    </div>
    <div class="form-group">
      <%=label_tag"form-content", "カテゴリー" %>
    <%= select_tag 'memos[category_id', options_from_collection_for_select(@categories, :id, :name ,),class:"form-control", placeholder:"カテゴリ"%>
    </div>
    <%= submit_tag"作成", class:"btn btn-primary"%>

  <%end%>


</div>